<h1>Infomation object process</h1>
<ul>
    <li>Input Arguments: <%= argv %></li>
    <li>Operative System: <%= os %></li>
    <li>Node Version: <%= nodeVersion %></li>
    <li>RSS: <%= rss %></li>
    <li>Path: <%= path %></li>
    <li>Process ID: <%= pid %></li>
    <li>Project Folder: <%= projectFolder %></li>
</ul>